<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <a href="">登录</a>
    <a href="">注册</a>
    <a href="">退出</a>
    <hr>
    <br>
    <table border="1"> 
    {% for item in us %}
    <tr>
    <td>{{item.id}}</td>
    <td>{{item.username}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.rdatetime}}</td>
    <td>  <a href="">更新</a>
        <a href="">删除</a></td>
</tr>
    {% endfor %}
    </table>

</body>
</html>