<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>
<body>
    <p>当前账号: {{ username }}</p>
    <div id="chat" style="width:300px; height:300px; border:1px solid #000000;">
        <!--聊天窗口-->

    </div>
    <!--输入信息窗口-->
    <input type="text" name="content" id="content">
    <input type="button" id="btn" value="提交">

    <script>
        <!--建立连接-->
        var websocket = new WebSocket('ws://127.0.0.1:80/chat/')
        <!--获取后端返回的数据-->
        websocket.onmessage = function(e){
            console.log(e.data)
            $('#chat').append('<br>')
            $('#chat').append(e.data)
        }
        $('#btn').click(function(){
            <!--向后端发送数据-->
            var content = $('#content').val()
            websocket.send(content)
        });


    </script>

</body>
</html>